<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1"   >
<!--        <packages>-->
<!--            <package name="org.test" />-->
<!--        </packages>-->

        <classes>

            <class name="org.scture.Synchronization" />
            <class name="org.scture.FPObjectTest" />
        </classes>

    </test>
</suite>
